<div id="catalog-results">

  <div class="flickr_pagination mb-4">
    <%= will_paginate productos, container: false %>
  </div>

  <div class="yield">
    <% productos.each do |producto| %>
      <% @productoImagenes = ProductImage.find_by(Producto_id: producto.id) %>

      <% if @productoImagenes.present? %>
        <% url = asset_url('uploads/' + @productoImagenes.descripcion) %>
      <% else %>
        <% url = image_url("logo.png") %>
      <% end %>

      <%= render 'producto', producto: producto, url: url %>
    <% end %>
  </div>

  <div class="flickr_pagination mb-4">
    <%= will_paginate productos, container: false %>
  </div>

</div>