<div class="flickr_pagination mb-4">
  <%= will_paginate @productos, container: false %>
</div>
<div class="yield">
  <% @productos.each do |producto|
    @productoImagenes = ProductImage.find_by(Producto_id: producto.id)
    if @productoImagenes != nil
      url = asset_url('uploads/'+@productoImagenes.descripcion)
    else
      url = image_url("logo.png", :alt => "Logo MarcoCel", :style => "display:inline; height:120px;")
    end
    %>
    
    <%= render 'producto', producto: producto, descuento: @descuento, url: url%> 
  <% end %>
</div>
<div class="flickr_pagination mb-4">
  <%= will_paginate @productos, container: false %>
</div>