<div class="container">
  <form class="" action="login_as_client" method="GET">
    <div class="jumbotron">
      <h1>Login</h1>
      <p>Ingresa tu numero de telefono</p>
      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
        <input type="number" name="phone" class="form-control" placeholder="55550000">
      </div>

      <p>
        <button type="submit" name="action" class="btn btn-primary btn-lg" role="button">Ingresar</button>
        <button type="submit" name="action" class="btn btn-default btn-lg" role="button">Ingresar sin Login</button>
      </p>
    </div>
  </form>
</div>